Package: com.bengerard.newhide
Name: NewHide
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: This is a simple tweak to disable the "New" banner you get on an icon after installing an app. 
Maintainer: Ben Gerard
Author: Ben Gerard
Section: Tweaks
